<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="serial_port" default="/dev/ttyUSB0" doc="Serial port device"/>
    <arg name="baudrate" default="115200" doc="Serial port baudrate"/>
    <arg name="nav_frequency" default="50" doc="NavigationFrame publishing frequency (Hz)"/>
    <arg name="output" default="screen" doc="Launch output target"/>
    
    <!-- MCU通讯节点 - 接收下位机数据并发布ROS Topics -->
    <node name="mcu_communicator" pkg="decision_node" type="mcu_communicator" output="$(arg output)">
        <!-- 串口配置 -->
        <param name="serial_port" value="$(arg serial_port)" />
        <param name="baudrate" value="$(arg baudrate)" />
        <!-- 导航数据发布频率 (Hz) -->
        <param name="nav_frequency" value="$(arg nav_frequency)" />
    </node>
    
</launch>
