<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- 导航命令发布节点 -->
    <node name="nav_cmd_publisher" pkg="decision_node" type="nav_cmd_publisher" output="screen">
        <!-- 设置导航参数 -->
        <!-- x轴速度 (m/s) -->
        <param name="x_velocity" value="0.5" />
        
        <!-- y轴速度 (m/s) -->
        <param name="y_velocity" value="0.0" />
        
        <!-- 角速度 (rad/s) -->
        <param name="omega" value="0.1" />
        
        <!-- 是否收到板信息 (0 或 1) -->
        <param name="received" value="1" />
        
        <!-- 是否到达目的地 (0: 在路上, 1: 到了) -->
        <param name="arrived" value="0" />
    </node>
</launch>
