<launch>
  <!-- Temporary decision-only launch: runs strategy_node and publishes goals to /clicked_point.
       This launch does NOT start navigation/localization/referee bridges; it only outputs decision goals.
  -->

  <param name="use_sim_time" value="false"/>

  <!-- Tuning args -->
  <arg name="tick_hz" default="20"/>
  <arg name="danger_hp" default="100"/>
  <arg name="sufficient_bullet" default="10"/>
  <arg name="max_bullet" default="150"/>
  <arg name="fixed_supply" default="50"/>
  <arg name="publish_on_change_only" default="true"/>
  <arg name="occupy_threshold" default="10000"/>
  <arg name="aggressive_threshold" default="50"/>
  <arg name="attack_threshold" default="5"/>
  <arg name="harm_threshold_on" default="50"/>
  <arg name="harm_threshold_off" default="10"/>

  <!-- BehaviorTree XML -->
  <arg name="bt_xml" default="$(find decision_node)/config/strategy_tree.xml"/>

  <!-- Goal output topic (dstarlite.launch expects /clicked_point) -->
  <arg name="goal_topic" default="/clicked_point"/>

  <!-- Global goal parameters consumed by SetGoalFromParams/SetGoalFromParamsCyclic (nh, not pnh): goals/<ns>/{x,y} or goals/<ns>/point_<i>/{x,y} -->
  <!-- Single point (for SUPPLY, WAITFOROP, RADICAL) -->
  <arg name="supply_x" default="6.0"/>
  <arg name="supply_y" default="6.0"/>
  <arg name="waitforop_x" default="0.5"/>
  <arg name="waitforop_y" default="0.5"/>
  <arg name="retreat_x" default="9.0"/>
  <arg name="retreat_y" default="9.0"/>
  <arg name="radical_x" default="5.0"/>
  <arg name="radical_y" default="5.0"/>
  
  <!-- Cyclic points for OCCUPY (4 points in loop) -->
  <arg name="occupy_point_0_x" default="1.0"/>
  <arg name="occupy_point_0_y" default="1.0"/>
  <arg name="occupy_point_1_x" default="2.0"/>
  <arg name="occupy_point_1_y" default="2.0"/>
  <arg name="occupy_point_2_x" default="3.0"/>
  <arg name="occupy_point_2_y" default="3.0"/>
  <arg name="occupy_point_3_x" default="4.0"/>
  <arg name="occupy_point_3_y" default="4.0"/>

  <!-- Set parameters on parameter server -->
  <!-- Cyclic occupy points - 4 different points to cycle through -->
  <param name="/goals/occupy/point_0/x" value="$(arg occupy_point_0_x)"/>
  <param name="/goals/occupy/point_0/y" value="$(arg occupy_point_0_y)"/>
  <param name="/goals/occupy/point_1/x" value="$(arg occupy_point_1_x)"/>
  <param name="/goals/occupy/point_1/y" value="$(arg occupy_point_1_y)"/>
  <param name="/goals/occupy/point_2/x" value="$(arg occupy_point_2_x)"/>
  <param name="/goals/occupy/point_2/y" value="$(arg occupy_point_2_y)"/>
  <param name="/goals/occupy/point_3/x" value="$(arg occupy_point_3_x)"/>
  <param name="/goals/occupy/point_3/y" value="$(arg occupy_point_3_y)"/>
  
  <param name="/goals/supply/x" value="$(arg supply_x)"/>
  <param name="/goals/supply/y" value="$(arg supply_y)"/>
  <!-- SUPPLY point - also in cyclic format for consistency -->
  <param name="/goals/supply/point_0/x" value="$(arg supply_x)"/>
  <param name="/goals/supply/point_0/y" value="$(arg supply_y)"/>
  <param name="/goals/supply/point_1/x" value="$(arg supply_x)"/>
  <param name="/goals/supply/point_1/y" value="$(arg supply_y)"/>
  <param name="/goals/supply/point_2/x" value="$(arg supply_x)"/>
  <param name="/goals/supply/point_2/y" value="$(arg supply_y)"/>
  <param name="/goals/supply/point_3/x" value="$(arg supply_x)"/>
  <param name="/goals/supply/point_3/y" value="$(arg supply_y)"/>
  
  <!-- WAITFOROP point - for SetGoalFromParams direct access -->
  <param name="/goals/waitforop/x" value="$(arg waitforop_x)"/>
  <param name="/goals/waitforop/y" value="$(arg waitforop_y)"/>
  <!-- WAITFOROP point - also in cyclic format for consistency -->
  <param name="/goals/waitforop/point_0/x" value="$(arg waitforop_x)"/>
  <param name="/goals/waitforop/point_0/y" value="$(arg waitforop_y)"/>
  <param name="/goals/waitforop/point_1/x" value="$(arg waitforop_x)"/>
  <param name="/goals/waitforop/point_1/y" value="$(arg waitforop_y)"/>
  <param name="/goals/waitforop/point_2/x" value="$(arg waitforop_x)"/>
  <param name="/goals/waitforop/point_2/y" value="$(arg waitforop_y)"/>
  <param name="/goals/waitforop/point_3/x" value="$(arg waitforop_x)"/>
  <param name="/goals/waitforop/point_3/y" value="$(arg waitforop_y)"/>

  <param name="/goals/retreat/x" value="$(arg retreat_x)"/>
  <param name="/goals/retreat/y" value="$(arg retreat_y)"/>
  
  <!-- RADICAL point - for SetGoalFromParams direct access -->
  <param name="/goals/radical/x" value="$(arg radical_x)"/>
  <param name="/goals/radical/y" value="$(arg radical_y)"/>

  <node pkg="decision_node" type="strategy_node" name="strategy_node" output="screen" respawn="true">
    <!-- private params (pnh: ~) -->
    <param name="tick_hz" value="$(arg tick_hz)"/>
    <param name="danger_hp" value="$(arg danger_hp)"/>
    <param name="sufficient_bullet" value="$(arg sufficient_bullet)"/>
    <param name="max_bullet" value="$(arg max_bullet)"/>
    <param name="fixed_supply" value="$(arg fixed_supply)"/>
    <param name="publish_on_change_only" value="$(arg publish_on_change_only)"/>
    <param name="occupy_threshold" value="$(arg occupy_threshold)"/>
    <param name="aggressive_threshold" value="$(arg aggressive_threshold)"/>
    <param name="attack_threshold" value="$(arg attack_threshold)"/>
    <param name="harm_threshold_on" value="$(arg harm_threshold_on)"/>
    <param name="harm_threshold_off" value="$(arg harm_threshold_off)"/>
    <param name="bt_xml" value="$(arg bt_xml)"/>

    <!-- Remap node-relative clicked_point -> desired global goal topic -->
    <remap from="clicked_point" to="$(arg goal_topic)"/>
  </node>
</launch>
